.Results {
  color: var(--tertiary-color);
  &__image-container {
    height: 8rem;
  }
  &__image {
    transform: translatey(-2rem);
  }
}

.Result {
  &__missed-question {
    display: flex;
    border-bottom: 1px solid var(--tertiary-color);
  }
  &__question-info {
    margin-left: 3rem;
  }
}
