.Footer {
  width: 100%;
  text-align: center;
  height: 10rem;
  color: var(--primary-color);
  flex: 0 0 auto;
  padding-top: 1rem;
  &__link {
    color: var(--primary-color);
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
  }
}
