:root {
  //colors
  --primary-color: #ffffff;
  --primary-color-darker: #f2f2f2;
  --secondary-color: #6066d080;
  --tertiary-color: #2f527b;
  --tangent-background: #f9a826;
  --success-color: #60bf88;
  --reject-color: #ea8282;
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
