@use "../abstracts";

.primary-heading {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 3.6rem;
}

.secondary-heading {
  font-size: 2rem;
  color: var(--tertiary-color);
}
.text {
  font-size: 1.8rem;

  @include abstracts.respondMax(400px) {
    font-size: 1.6rem;
  }
}
