.u-align-left {
  text-align: left;
}
.u-text-align-center {
  text-align: center;
}
.u-space-between {
  display: flex;
  justify-content: space-between;
}

.u-margin-bottom-medium {
  margin-bottom: 3.2rem;
}

.u-margin-bottom-small {
  margin-bottom: 2.5rem;
}

.u-underline {
  text-decoration: underline;
}
